@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------  Common CSS --------------------- */

ul li {
    list-style: none;
    display: inline-block;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.col-70 {
    width: 70%;
}

.col-60 {
    width: 60%;
}

.col-40 {
    width: 40%;
}

.col-30 {
    width: 30%;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.jsc {
    justify-content: space-between;
}

/* --------------- Navbar --------------------- */

.sec-one {
    position: relative;
    background-size: cover;
    overflow: hidden;
}

.layer {
    position: absolute;
    min-width: 100vw;
    z-index: 100;
}

.navbar {
    position: relative;
    top: 36px;
    z-index: 10;
    padding: 0 20px 0 40px;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    vertical-align: middle;
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    box-shadow: 0px 4px 24px -1px rgba(239, 244, 253, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 10px;
}

.navbar a {
    font-size: 20px;
    margin: 5px;
    font-family: "syne";
    transition: all .4s ease-in-out;
}

#about a {
    color: #FED51B;
}

.navbar a:hover {
    color: #FED51B;
}

.nav-links {
    position: relative;
}

.logo img {
    vertical-align: middle;
    height: 40px;
    width: 200px;
}

.nav-links ul {
    display: flex;
    justify-content: space-around;
}

.nav-links ul li {
    margin: 0 18px;
}

/* ---------------  Dropdown Menu --------------------- */

.dropdown-container {
    position: relative;
    left: 34%;
    top: 36px;
    display: none;
}

.drop-down {
    width: 900px;
    background-color: rgb(56, 50, 50);
    padding-bottom: 30px;
    border-radius: 0 0 10px 10px;
}

.horizontal-line {
    height: 4px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #FED51B, #FED51B, #FED51B, rgba(255, 255, 255, 0));
}

.dropdown-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    line-height: 40px;
    color: #fff;
    font-family: "syne";
}

.borderline {
    width: 2px;
    height: 190px;
    background-color: #fff;
    border-radius: 5px;
}

.dropdown-items p:hover a {
    color: #FED51B;
    transition: all 0.4s ease-in-out;
}

/* --------------- Home --------------------- */


.contact-banner {
    width: 100%;
    height: 430px;
}

.contact-banner img {
    width: 100%;
    height: 430px;
    object-fit: cover;
    filter: blur(200px);
}

.contact-path {
    position: absolute;
    top: 50%;
    right: 40%;
}

.contact-path h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    color: #FED51B;
    line-height: 90px;
    text-align: center;
}

.contact-path p {
    font-family: Poppins;
    font-style: normal;
    font-size: 22px;
    color: #fff;
}

.contact-path i {
    margin: 0 10px;
}

.contact-path span:hover a {
    color: #FED51B;
    transition: all 0.5s;
}


/* --------------- Section Two --------------------- */
.sec-two {
    margin: 100px 0 0 0;

}

.sec-two-img img {
    width: 80%;
    height: 80%;
}

.sec-two-content h4 {
    font-size: 20px;
    color: #FED51B;
    font-weight: 700;
    font-family: "Poppins";
}

.sec-two-content h5 {
    font-size: 48px;
    font-weight: 700;
    font-family: "Poppins";
}

.sec-two-content p {
    font-size: 25px;
    line-height: 24px;
    font-family: "Jost";
}

.btn {
    margin: 80px 0 0 0;
}

.button {
    position: relative;
    /* z-index: 10; */
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Sora';
    font-style: normal;
    font-size: 15px;
    color: #101010;
    outline: 2px solid #FED51B;
    padding: 13px 18px;
    overflow: hidden;
    transition: color 0.7s;
}

.button:hover {
    color: #fff;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    z-index: -1;
    width: 150%;
    height: 100%;
    background-color: #FED51B;
    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    transition: transform 1s;
}

.button:hover::before {
    transform: scaleX(1) skewX(35deg);
}

/* --------------- Footer Section --------------------- */

.footer {
    width: 100%;
    height: 526px;
    background-color: #101010;
    background-image: url(../img//footer-bg-1.png);
    background-size: cover;
}

.footer-content {
    height: 437px;
    align-items: center;
}

.footer-content p {
    color: #FFFFFF;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
}

.footer-content h4 {
    color: #FED51B;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.footer-logo {
    line-height: 437px;
}

.footer-logo img {
    vertical-align: middle;
    width: 292px;
}

.footer-location {
    width: 480px;
}

.footer-location p {
    line-height: 26px;
}

.corporate-address {
    display: flex;
    align-items: center;
}

#vertical-line-one {
    height: 80px;
    border: 1px solid #FFFFFF;
    margin: 20px 15px 20px 47px;
}

#address-one {
    margin: 20px 0;
}

#factory-address {
    display: flex;
    align-items: center;
}

#vertical-line-two {
    height: 55px;
    border: 1px solid #FFFFFF;
    margin: 20px 15px;
}

.footer-contact p {
    line-height: 26px;
}

.footer-contact a {
    transition: all 0.4s ease-in-out;
}

.footer-contact p:hover a {
    color: #FED51B;
}

#footer-num {
    margin-top: 20px;
    margin-right: 10px;
}

.footer-num {
    display: flex;
}

#footer-mail {
    margin-top: 20px;
}

#web-address {
    margin-bottom: 20px;
}

.footer-social {
    height: 126px;
    background-color: #060606;
    background-image: url(../img/footer-bg-1.png);
    background-size: cover;
}

.footersocial-content p {
    font-family: 'sora';
    font-style: normal;
    font-size: 16px;
    font-weight: 100;
}

.footersocial-content a {
    transition: all 0.4s;
}

.footersocial-content p:hover a {
    color: #FED51B;
}

.footersocial-content {
    display: flex;
    justify-content: space-between;
    line-height: 126px;
    vertical-align: middle;
}

.footersocial-content span {
    color: #d2d2d5;
}

.footersocial-content ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.footersocial-content ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footersocial-content ul li a {
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.177);
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    transition: .5s;
}

.footersocial-content ul li a:hover {
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0);
    text-decoration: none;
}

.footersocial-content ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}

.footersocial-content ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.footersocial-content ul li:nth-child(2) a:hover .fab {
    color: #00aced;
}

.footersocial-content ul li:nth-child(3) a:hover .fab {
    color: #007bb6;
}

.footersocial-content ul li:nth-child(4) a:hover .fab {
    color: #e4405f;
}


