* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
}

.navbar {
    position: relative;
    z-index: 10;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

.nav-links ul li {
    margin: 0 10px;
}

.navbar a {
    color: #fffb00;
    font-size: 20px;
    margin: 5px;
    font-family: "syne";
    transition: all .5s ease-in-out;
}

.dropdown-items p:hover a {
    color: #fffb00;
    transition: all 0.4s ease-in-out;
}

.nav-links ul li,
.social-links ul li {
    list-style: none;
}

.nav-links {
    position: relative;
}

a {
    text-decoration: none;
    /* color: brown; */

}

.logo img {
    vertical-align: middle;
    height: 40px;
    width: 200px;
}

.nav-links ul,
.social-links ul {
    display: flex;
    justify-content: space-around;
}

.dropdown-container {

    /* display: flex;
            justify-content: center;.0 */
    position: absolute;
    left: 20%;
    /* z-index: 1; */
}

.drop-down {
    height: 250px;
    width: 900px;
    background-color: rgb(56, 50, 50);
    /* position: absolute; */
    margin-right: 80px;
}

.horizontal-line {
    height: 4px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fffb00, #fffb00, #fffb00, rgba(255, 255, 255, 0));
}

.dropdown-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    line-height: 40px;
    color: #fff;
    font-family: "syne";

}

.dropdown-items a {
    color: #fff;
}

.borderline {
    width: 2px;
    height: 190px;
    background-color: #fff;
    border-radius: 5px;
}

.dropdown-items p:hover a {
    color: #fffb00;
    transition: all 0.4s ease-in-out;
}

.dropdown-container {
    /* visibility: hidden;
            opacity: 0; */
    display: none;
    /* display: flex;
               justify-content: center; */
}


/**************************** section two ***************************************/

.col-50{
    width: 50%;
}
.row{
    display: flex;
}

.home-coc img{
    width: 100%;
    height: 100%;
}