@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------  Common CSS --------------------- */

ul li {
    list-style: none;
    display: inline-block;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.col-70 {
    width: 70%;
}

.col-30 {
    width: 30%;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.jsc {
    justify-content: space-between;
}

/* --------------- Navbar --------------------- */

.sec-one {
    position: relative;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-color: blueviolet;
}

.layer {
    position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 100;
}

.navbar {
    position: relative;
    top: 36px;
    z-index: 10;
    padding: 0 20px 0 40px;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    vertical-align: middle;
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    box-shadow: 0px 4px 24px -1px rgba(239, 244, 253, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 10px;
}

.navbar a {
    font-size: 20px;
    margin: 5px;
    font-family: "syne";
    transition: all .4s ease-in-out;
}

#home {
    color: #FED51B;
}

.navbar a:hover {
    color: #FED51B;
}

.nav-links {
    position: relative;
}

.logo img {
    vertical-align: middle;
    height: 40px;
    width: 200px;
}

.nav-links ul {
    display: flex;
    justify-content: space-around;
}

.nav-links ul li {
    margin: 0 18px;
}

/* ---------------  Dropdown Menu --------------------- */

.dropdown-container {
    position: relative;
    left: 34%;
    top: 36px;
    display: none;
}

.drop-down {
    width: 900px;
    background-color: rgb(56, 50, 50);
    padding-bottom: 30px;
    border-radius: 0 0 10px 10px;
}

.horizontal-line {
    height: 4px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #FED51B, #FED51B, #FED51B, rgba(255, 255, 255, 0));
}

.dropdown-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    line-height: 40px;
    color: #fff;
    font-family: "syne";
}

.borderline {
    width: 2px;
    height: 190px;
    background-color: #fff;
    border-radius: 5px;
}

.dropdown-items p:hover a {
    color: #FED51B;
    transition: all 0.4s ease-in-out;
}

/* --------------- Home --------------------- */
