@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ---------------  Common CSS --------------------- */

ul li {
    list-style: none;
    display: inline-block;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.col-70 {
    width: 70%;
}

.col-30 {
    width: 30%;
}

.col-45 {
    width: 45%;
}

.col-55 {
    width: 55%;
}

.col-50 {
    width: 50%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.jsc {
    justify-content: space-between;
}

/* ---------button CSS Start---------- */

.button {
    position: relative;
    z-index: 10;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Sora';
    font-style: normal;
    font-size: 15px;
    color: #101010;
    outline: 1px solid #FED51B;
    padding: 13px 18px;
    overflow: hidden;
    transition: color 0.7s;
}

.button:hover {
    color: #fff;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -34px;
    z-index: -1;
    width: 150%;
    height: 100%;
    background-color: #FED51B;
    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    transition: transform 1s;
}

.button:hover::before {
    transform: scaleX(1) skewX(35deg);
}

/* ---------button CSS End---------- */

/* ---------------  Whatsapp Icon Start --------------------- */

.whatsapp-icon {
    position: fixed;
    right: 30px;
    bottom: 18px;
    font-size: 70px;
    z-index: 999;
}

/* ---------------  Whatsapp Icon End --------------------- */

/* --------------- Section One Start --------------------- */

/* --------------- Navbar --------------------- */

.sec-one {
    position: relative;
    background-size: cover;
    overflow: hidden;
}

.layer {
    position: absolute;
    min-width: 100vw;
    z-index: 100;
}

.navbar {
    position: relative;
    top: 36px;
    z-index: 10;
    width: 1000px;
    padding: 0 20px 0 40px;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    vertical-align: middle;
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    box-shadow: 0px 4px 24px -1px rgba(239, 244, 253, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 10px;
}

.navbar a {
    font-size: 20px;
    margin: 5px;
    font-family: "syne";
    transition: all .4s ease-in-out;
}

#FAQS a {
    color: #FED51B;
}

.navbar a:hover {
    color: #FED51B;
}

.nav-links {
    position: relative;
}

.logo img {
    vertical-align: middle;
    height: 40px;
    width: 200px;
}

.nav-links ul {
    display: flex;
    justify-content: space-around;
}

.nav-links ul li {
    margin: 0 18px;
}

/* ---------------  Dropdown Menu --------------------- */

.dropdown-container {
    position: relative;
    left: 29%;
    top: 36px;
    display: none;
}

.drop-down {
    width: 900px;
    background-color: rgb(56, 50, 50);
    padding-bottom: 30px;
    border-radius: 0 0 10px 10px;
}

.horizontal-line {
    height: 4px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #FED51B, #FED51B, #FED51B, rgba(255, 255, 255, 0));
}

.dropdown-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    line-height: 40px;
    color: #fff;
    font-family: "syne";
}

.borderline {
    width: 2px;
    height: 190px;
    background-color: #fff;
    border-radius: 5px;
}

.dropdown-items p:hover a {
    color: #FED51B;
    transition: all 0.4s ease-in-out;
}

/* --------------- Home --------------------- */

.FAQ-banner {
    width: 100%;
    height: 430px;
    background-image: url(../img/Packing-Tape.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(150px);
}

.FAQ-path {
    position: absolute;
    top: 50%;
    right: 40%;
    /* z-index: 101; */
}

.FAQ-path h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    color: #FED51B;
    line-height: 90px;
    text-align: center;
}

.FAQ-path p {
    font-family: Poppins;
    font-style: normal;
    font-size: 22px;
    color: #fff;
}

.FAQ-path i {
    margin: 0 10px;
}

.FAQ-path span:hover a {
    color: #FED51B;
    transition: all 0.5s;
}

/* --------------- Section One End --------------------- */

/* --------------- Section Two Start --------------------- */
.sec-two {
    display: flex;
    flex-wrap: wrap;
    margin: 125px 0 60px 0;
}

.two-img {
    display: flex;
    justify-content: flex-end;
}

.two-img img {
    display: block;
    margin: 0 80px 0 0;
    width: 100%;
    object-fit: cover;
    height: 700px;
}

#popular_que {
    font-size: 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 3.4px;
    color: #FED51B;
    margin: 35px 0 20px 0;
}

.img_content h3 {
    width: 450px;
    font-size: 48px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -.6px;
    color: rgba(0, 0, 0, 0.755);
}

#short_des {
    width: 450px;
    font-size: 15px;
    font-family: 'Poppins';
    font-style: normal;
    line-height: 24px;
    margin: 38px 0;
}

.shipping{
    font-family: 'Poppins';
    font-style: normal;
    width: 450px;
}

.shipping i{
    font-size: 20px;
    color: #FED51B;
    padding-right: 15px;
}

.shipping span{
    font-size: 18px;
    font-weight: 700;
    color: #000000d6;
    letter-spacing: -.5px;
}

.shipping p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.839);
    margin: 5px 0 10px 46px;
}

.quality{
    font-family: 'Poppins';
    font-style: normal;
    margin: 30px 0;
    width: 450px;
}

.quality i{
    font-size: 20px;
    color: #FED51B;
    padding-right: 15px;
}

.quality span{
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.839);
    letter-spacing: -.5px;
}

.quality p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.839);
    margin: 5px 0 10px 44px;
}

.payment{
    font-family: 'Poppins';
    font-style: normal;
    width: 450px;
}

.payment i{
    font-size: 20px;
    color: #FED51B;
    padding-right: 15px;
}

.payment span{
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.839);
    letter-spacing: -.5px;
}

.payment p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.839);
    margin: 5px 0 10px 44px;
}

.title {
    font-size: clamp(26px, 5vw, 40px);
    color: rgba(0, 0, 0, 0.755);
    margin-bottom: 30px;
}

.accordion-panel {
    padding: 7px 21px;
    margin-bottom: 24px;
    border: 1px solid #777e91;
    border-radius: 8px;
}

.accordion input {
    display: none;
}

.accordion label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    padding-block: 7px;
    color: #101010;
    cursor: pointer;
    transition: color 0.25s;
}

.accordion label:hover,
.accordion input:checked+label {
    color: #FED51B;
}

.accordion i {
    color: #FED51B;
}

.accordion .close {
    display: none;
}

.accordion input:checked+label .close {
    display: block;
}

.accordion input:checked+label .open {
    display: none;
}

.accordion-body {
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
}

.accordion-answer {
    font-size: 14px;
    color: #101010;
    padding-top: 5px;
    padding-bottom: 7px;
    opacity: 0;
    transform: scale(0);
    transform-origin: top left;
    transition: opacity 0.75s, transform 0.15s;
}

.accordion input:checked~.accordion-body {
    height: max-content;
}

.accordion input:checked~.accordion-body .accordion-answer {
    opacity: 1;
    transform: scale(1);
}