/* --------------- Footer Section Start For Large Screen --------------------- */

.footer {
    width: 100vw;
    height: 526px;
    background-color: #101010;
    background-image: url(../img//footer-bg-1.png);
    background-size: cover;
}

.footer-content {
    height: 437px;
    align-items: center;
}

.footer-content p {
    color: #FFFFFF;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
}

.footer-content h4 {
    color: #FED51B;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.footer-logo {
    line-height: 437px;
}

.footer-logo img {
    vertical-align: middle;
    width: 292px;
}

.footer-location {
    width: 480px;
}

.footer-location p {
    line-height: 26px;
}

.corporate-address {
    display: flex;
    align-items: center;
}

#vertical-line-one {
    height: 80px;
    border: 1px solid #FFFFFF;
    margin: 20px 15px 20px 47px;
}

#address-one {
    margin: 20px 0;
}

#factory-address {
    display: flex;
    align-items: center;
}

#vertical-line-two {
    height: 80px;
    border: 1px solid #FFFFFF;
    margin: 20px 15px;
}

.footer-contact p {
    line-height: 26px;
}

.footer-contact a {
    transition: all 0.4s ease-in-out;
}

.footer-contact p:hover a {
    color: #FED51B;
}

#footer-num {
    margin-top: 20px;
    margin-right: 10px;
}

.footer-num {
    display: flex;
}

#footer-mail {
    margin-top: 20px;
}

#web-address {
    margin-bottom: 20px;
}

.footer-social {
    height: 126px;
    background-color: #060606;
    background-image: url(../img/footer-bg-1.png);
    background-size: cover;
}

.footersocial-content p {
    font-family: 'sora';
    font-style: normal;
    font-size: 16px;
    font-weight: 100;
    color: #d2d2d5;
}

.footersocial-content span{
    letter-spacing: 1.7px;
    color: #FED51B;
    cursor:default;
}

.footersocial-content a {
    transition: all 0.4s;
}

.footersocial-content {
    display: flex;
    justify-content: space-between;
    line-height: 126px;
    vertical-align: middle;
}

.footersocial-content ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.footersocial-content ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footersocial-content ul li a {
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.177);
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    transition: .5s;
}

.footersocial-content ul li a:hover {
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0);
    text-decoration: none;
}

.footersocial-content ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}

.footersocial-content ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.footersocial-content ul li:nth-child(2) a:hover .fab {
    color: #00aced;
}

.footersocial-content ul li:nth-child(3) a:hover .fab {
    color: #007bb6;
}

.footersocial-content ul li:nth-child(4) a:hover .fab {
    color: #e4405f;
}

/* --------------- Footer Section End For Large Screen --------------------- */

/* --------------- Footer Section Start For Small Screen --------------------- */

.sml_footer {
    width: 100vw;
    height: 620px;
    background-color: #101010;
    background-image: url(../img//footer-bg-1.png);
    background-size: cover;
}

.sml_footer-content {
    padding-top: 50px;
}

.sml_footer-content p {
    color: #FFFFFF;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
}

.sml_footer-content h4 {
    color: #FED51B;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.sml_footer-logo img {
    width: 80px;
}

.sml_footer-logo-two img {
    width: 300px;
}

.sml_footer-contact p {
    width: 180px;
    line-height: 26px;
}

.sml_footer-contact h4 {
    margin: 20px 0;
}

.sml_footer-contact a {
    transition: all 0.4s ease-in-out;
}

.sml_footer-contact p:hover a {
    color: #FED51B;
}

.sml_footer-num {
    width: 125px;
    margin-top: 20px;
}

#sml_footer-mail {
    width: 225px;
    margin-top: 20px;
}

#sml_web-address {
    width: 225px;
    margin-bottom: 20px;
}

.sml_quick-links {
    display: none;
}

.sml_quick-links h4 {
    color: #FED51B;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;
}

.sml_quick-links ul li {
    display: block;
    list-style: none;
    color: #fff;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    margin: 0 0 10px 0;
    letter-spacing: 0.7px;
}

.sml_quick-links ul li a {
    color: #fff;
    transition: all 0.4s ease-in-out;
}

.sml_quick-links ul a:hover{
    color: #FED51B;
}

.sml_quick-links ul {
    margin-top: 20px;
}

.sml_footer-location {
    width: 330px;
}

.sml_footer-location h4 {
    margin-top: 42px;
}

.sml_footer-location p {
    line-height: 26px;
}

#sml_address-one {
    margin: 9px 0 20px 0;
}

#sml_corporate-office {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}

#sml_manufacturing-unit {
    font-weight: 500;
    font-size: 16px;
}

#sml_unit-address {
    margin-top: 9px;
}

.sml_footersocial-content p {
    font-family: 'sora';
    font-style: normal;
    font-size: 16px;
    font-weight: 100;
    color: #d2d2d5;
    text-align: center;
}

.sml_footersocial-content span{
    letter-spacing: 1.7px;
    color: #FED51B;
    cursor:default;
}

.sml_footersocial-content a {
    transition: all 0.4s;
}

.sml_footersocial-content ul {
    margin: 40px 0 30px 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.sml_footersocial-content ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sml_footersocial-content ul li a {
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.177);
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    transition: .5s;
}

.sml_footersocial-content ul li a:hover {
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0);
    text-decoration: none;
}

.sml_footersocial-content ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}

.sml_footersocial-content ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.sml_footersocial-content ul li:nth-child(2) a:hover .fab {
    color: #00aced;
}

.sml_footersocial-content ul li:nth-child(3) a:hover .fab {
    color: #007bb6;
}

.sml_footersocial-content ul li:nth-child(4) a:hover .fab {
    color: #e4405f;
}

/* --------------- Footer Section End For Small Screen --------------------- */

/* --------------- Footer Section Start For Mobile Device --------------------- */

.sml_mobile-footer {
    width: 100vw;
    height: auto;
    background-color: #101010;
    background-image: url(../img//footer-bg-1.png);
    background-size: cover;
}

.sml_mobile-footer-content p {
    color: #FFFFFF;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
}

.sml_mobile-footer-content h4 {
    color: #FED51B;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
}

.sml_mobile-footer-logo {
    justify-content: center;
    padding-top: 30px;
}

.sml_mobile-footer-logo img {
    width: 250px;
}

.sml_mobile-footer-location {
    text-align: center;
    margin: 0 20px;
}

.sml_mobile-footer-location h4 {
    margin-top: 30px;
}

.sml_mobile-footer-location p {
    line-height: 26px;
}

#sml_mobile-footer-address-one {
    margin: 9px 0 20px 0;
}

#sml_mobile-footer-corp-office {
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
}

#sml_mobile-footer-manufacturing {
    font-weight: 500;
    font-size: 15px;
}

#sml_mobile-unit-address {
    margin-top: 9px;
}

.sml_mobile-footer-contact {
    text-align: center;
}

.sml_mobile-footer-contact p {
    line-height: 26px;
}

.sml_mobile-footer-contact h4 {
    margin: 20px 0;
}

.sml_mobile-footer-contact a {
    transition: all 0.4s ease-in-out;
}

.sml_mobile-footer-contact p:hover a {
    color: #FED51B;
}

.sml_mobile-footer-num {
    margin-top: 20px;
}

#sml_mobile-footer-mail {
    margin-top: 20px;
}

#sml_mobile-web-address {
    margin-bottom: 20px;
}

.sml_mobile-footer-social {
    margin-top: 20px;
    padding-bottom: 10px;
}

.sml_mobile-footer-social p {
    font-family: 'sora';
    font-style: normal;
    font-size: 13px;
    font-weight: 100;
    color: #d2d2d5;
    text-align: center;
    margin: 20px 20px 0 20px;
}

.sml_mobile-footer-social span{
    letter-spacing: 1.7px;
    color: #FED51B;
    cursor:default;
}

.sml_mobile-footer-social a {
    transition: all 0.4s;
}

.sml_mobile-footer-social ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.sml_mobile-footer-social ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sml_mobile-footer-social ul li a {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 4px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.177);
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    transition: .5s;
}

.sml_mobile-footer-social ul li a:hover {
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0);
    text-decoration: none;
}

.sml_mobile-footer-social ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    border-radius: 50%;
    line-height: calc(57px - 12px);
    font-size: 22px;
    color: #262626;
    transition: .5s;
}

.sml_mobile-footer-social ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.sml_mobile-footer-social ul li:nth-child(2) a:hover .fab {
    color: #00aced;
}

.sml_mobile-footer-social ul li:nth-child(3) a:hover .fab {
    color: #007bb6;
}

.sml_mobile-footer-social ul li:nth-child(4) a:hover .fab {
    color: #e4405f;
}

/* --------------- Footer Section End For Mobile Device --------------------- */