@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------  Whatsapp Icon Start --------------------- */

.whatsapp-icon {
    position: fixed;
    right: 30px;
    bottom: 18px;
    font-size: 70px;
    z-index: 999;
}

/* ---------------  Whatsapp Icon End --------------------- */

/* --------------- Home --------------------- */

/* .down-wheel {
    position: absolute;
    z-index: 99;
    left: 49%;
    bottom: 7%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.mouse {
    width: 40px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: inline-flex;
}

.mouse-wheel {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: auto;
    animation: moveWheel 1.25s linear infinite;
}

@keyframes moveWheel {
    0% {
        opacity: 0;
        translate: 0 25px;
    }

    100% {
        opacity: 1;
        translate: 0 -18px;
    }
} */

.home-sec {
    color: #fff;
    background: #1b1b1b;
    width: 100vw;
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

.homeHero {
    width: 100vw;
    overflow: hidden;
    padding-top: 0;
}

.homeHero--inner {
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 60px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.homeHero__title {
    color: #fff;
    width: 100vw;
    max-width: 1700px;
    margin: 0 auto;
    font-family: proxima-nova, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    z-index: 9;
    overflow: hidden;
    cursor: default;
    position: relative;
}

.homeHero__title {
    font-size: 8.5rem;
    line-height: 16rem;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.homeHero__title div:nth-child(1) {
    float: left;
}

.homeHero__title div:nth-child(2) {
    float: right;
}

.hero-des {
    position: absolute;
    top: 62%;
    width: 1700px;
    padding: 0;
}

.hero-des p {
    width: 320px;
    font-size: 18px;
    font-family: 'Jost', sans-serif;
    font-weight: 200;
    line-height: 1.4;
    letter-spacing: 0.9px;
}

.hero-des span {
    color: #FED51B;
}

.homeHero__title span {
    transition: 1.5s opacity ease .5s, 1.5s transform ease .5s, .5s color ease, .5s -webkit-text-stroke ease, 1.5s -webkit-transform ease .5s, 1.5s -moz-transform ease .5s, 1.5s -o-transform ease .5s;
}

.homeHero__title span:hover {
    color: #fff;
}

.homeHero__clips {
    display: none;
}

.homeHero__clips {
    width: 200px;
    height: 200px;
    margin-bottom: 35px;
    object-fit: cover;
    display: block;
    -webkit-clip-path: polygon(50% 0%, 99% 46%, 100% 100%, 70% 100%, 70% 67%, 30% 67%, 30% 100%, 0 100%, 0 46%);
    clip-path: polygon(50% 0%, 99% 46%, 100% 100%, 70% 100%, 70% 67%, 30% 67%, 30% 100%, 0 100%, 0 46%);
    z-index: 10;
    mix-blend-mode: exclusion;
}

.cb-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999999;
    contain: layout style size;
    pointer-events: none;
    will-change: transform;
    transition: opacity .3s, color .4s;
}

.cb-cursor.-video {
    z-index: 9;
    mix-blend-mode: exclusion;
}

.cb-cursor-video {
    transform: scale(0);
    opacity: 0;
    transition: opacity .1s, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, opacity .1s;
    transition: transform .3s ease-in-out, opacity .1s, -webkit-transform .3s ease-in-out, -moz-transform .3s ease-in-out, -o-transform .3s ease-in-out;
}

.cb-cursor.-video .cb-cursor-video {
    opacity: 1;
    transform: scale(1);
}

.cb-cursor #reel-clips {
    width: 250px;
    height: 250px;
    position: absolute;
    top: -175px;
    left: -125px;
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    -webkit-clip-path: polygon(50% 0%, 99% 46%, 100% 100%, 70% 100%, 70% 67%, 30% 67%, 30% 100%, 0 100%, 0 46%);
    clip-path: polygon(50% 0%, 99% 46%, 100% 100%, 70% 100%, 70% 67%, 30% 67%, 30% 100%, 0 100%, 0 46%);
}

.hero-vector img:nth-child(1) {
    position: absolute;
    bottom: 120px;
    right: 150px;
    width: 70px;
}

.hero-vector img:nth-child(2) {
    position: absolute;
    top: 200px;
    left: 70px;
    width: 80px;
}

/* ------------------ Section Two ------------------- */

#about-heading {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FED51B;
    margin-top: 100px;
}

.about-content h4 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    color: #101010;
    margin-bottom: 20px;
}

.about-content p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #101010;
    line-height: 26px;
}

#about-content-two {
    margin: 20px 0 30px 0;
}

.about-content .button {
    margin-bottom: 100px;
}

/* ------------------ Section Three ------------------- */

.sec-three {
    position: relative;
    min-height: 700px;
    background: linear-gradient(to right, #FED51B 60%, #fff 40%);
}

#product-detail-two {
    width: 460px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
}

.home-product-details {
    position: absolute;
    top: 270px;
    overflow: hidden;
}

.home-product-details p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.home-product-details h4 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
}

.home-product-img {
    position: absolute;
    overflow: hidden;
    top: 125px;
    left: 48%;
    width: 422px;
    height: 450px;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.366) 0px 7px 29px 0px;
}

.home-product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slide-btn #up-btn {
    position: absolute;
    top: 38%;
    right: 21%;
    width: 60px;
    height: 60px;
    background-color: #101010;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
}

.slide-btn #down-btn {
    position: absolute;
    top: 50%;
    right: 21%;
    width: 60px;
    height: 60px;
    background-color: #101010;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
}

.slide-btn i {
    font-size: 37px;
    transition: all 0.6s;
}

.slide-btn button:hover i {
    color: #101010;
}

.slide-btn #up-btn:hover {
    background-color: #FED51B;
}

.slide-btn #down-btn:hover {
    background-color: #FED51B;
}

.slider {
    width: 600px;
    height: 350px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
}

/*   

/* ------------------ section Four ------------- */


.sec-four {
    background-color: #fff;
    padding: 70px 0;
}

.title {
    font-size: 50px;
    color: #101010e5;
    font-family: 'Sora';
    text-align: center;
    margin: 0 0 50px 0;
}

/* sldier for review */

.owl-carousel .owl-item img {
    display: block;
    width: 17%;
    float: left;
    border: 5px solid #fff;
    border-radius: 20px;
    margin-left: 54px;
    margin-right: 35px;
    margin-top: 15px;

}

.testimonial-item.equal-height.style-6 {
    border-radius: 15px 90px / 120px;
    margin: 70px 100px;
    font-family: 'Poppins';
    color: #f5d41d;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cell-right {
    text-align: center;
    margin-right: 0 auto;
    padding-top: 35px;
    padding-bottom: 20px;
}

.testimonial-name {
    font-weight: 600;
    font-size: 35px;
}

.testimonial-job {
    font-size: 20px;
}

.testimonial-content.quote {
    padding: 17px 55px;
    font-size: 20px;
    text-align: center;
    color: #020202;

}

.et_right_sidebar #main-content .container:before {
    display: none;
}

#main-content .container {
    padding-top: 10px;
}

i.fa.fa-quote-left {
    padding: 0px 10px;
    color: #999;
}