@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------  Pre-loader Start --------------------- */

.container-2 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
}

.ring {
    width: 200px;
    height: 200px;
    border: 0px solid #000;
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1) {
    border-bottom-width: 8px;
    border-color: rgb(255, 255, 255);
    animation: rotate1 2s linear infinite;
    -webkit-animation: rotate1 2s linear infinite;
}

.ring:nth-child(2) {
    border-right-width: 8px;
    border-color: rgb(248, 95, 7);
    animation: rotate2 2s linear infinite;
    -webkit-animation: rotate2 2s linear infinite;
}

.ring:nth-child(3) {
    border-top-width: 8px;
    border-color: rgb(18, 240, 40);
    animation: rotate3 2s linear infinite;
    -webkit-animation: rotate3 2s linear infinite;
}

.loading {
    color: #FED51B !important;
    letter-spacing: 2px;
    font-family: 'Poppins', monospace;
    font-style: normal;
}

@keyframes rotate1 {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

/* ---------------  Pre-loader End --------------------- */

/* ---------------  Common CSS Start --------------------- */

ul li {
    list-style: none;
    display: inline-block;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.col-50 {
    width: 50%;
}

.col-70 {
    width: 70%;
}

.col-30 {
    width: 30%;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.jsc {
    justify-content: space-between;
}

/* ---------button CSS Start---------- */

.button {
    position: relative;
    z-index: 10;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Sora';
    font-style: normal;
    font-size: 15px;
    color: #101010;
    outline: 2px solid #FED51B;
    padding: 13px 18px;
    overflow: hidden;
    transition: color 0.7s;
}

.button:hover {
    color: #fff;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    z-index: -1;
    width: 150%;
    height: 100%;
    background-color: #FED51B;
    transform: scaleX(0) skewX(35deg);
    transform-origin: left;
    transition: transform 1s;
}

.button:hover::before {
    transform: scaleX(1) skewX(35deg);
}

/* ---------button CSS End---------- */

/* ---------------  Common CSS End--------------------- */


/* --------------- Navbar --------------------- */

.sec-one {
    position: relative;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}

.layer {
    position: absolute;
    min-width: 100vw;
    z-index: 100;
}

.navbar {
    position: relative;
    top: 36px;
    z-index: 10;
    padding: 0 20px 0 40px;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    vertical-align: middle;
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    box-shadow: 0px 4px 24px -1px rgba(239, 244, 253, 0.2);
    backdrop-filter: blur(30px);
    border-radius: 10px;
}

.navbar a {
    font-size: 20px;
    margin: 5px;
    font-family: "syne";
    transition: all .4s ease-in-out;
}

#home {
    color: #FED51B;
}

.navbar a:hover {
    color: #FED51B;
}

.nav-links {
    position: relative;
}

.logo img {
    vertical-align: middle;
    height: 40px;
    width: 200px;
}

.nav-links ul {
    display: flex;
    justify-content: space-around;
}

.nav-links ul li {
    margin: 0 18px;
}

/* ---------------  Dropdown Menu --------------------- */

.dropdown-container {
    position: relative;
    left: 34%;
    top: 36px;
    display: none;
}

.drop-down {
    width: 900px;
    background-color: rgb(56, 50, 50);
    padding-bottom: 30px;
    border-radius: 0 0 10px 10px;
}

.horizontal-line {
    height: 4px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #FED51B, #FED51B, #FED51B, rgba(255, 255, 255, 0));
}

.dropdown-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    line-height: 40px;
    color: #fff;
    font-family: "syne";
}

.borderline {
    width: 2px;
    height: 190px;
    background-color: #fff;
    border-radius: 5px;
}

.dropdown-items p:hover a {
    color: #FED51B;
    transition: all 0.4s ease-in-out;
}

/* --------------- Home --------------------- */


.video {
    position: absolute;
    z-index: -1;
}

.text {
    width: 100%;
    text-align: center;
}

.text p {
    margin: 15px 0;
    font-size: 60px;
    font-weight: 700;
    font-family: 'Syne';
}

.text h4 {
    font-size: 95px;
    color: #d8d8d8;
    font-family: 'Syne';
}

.text p {
    color: #fff455;
}

.text span {
    color: #FECC00;
}

.main-logo {
    position: relative;
    top: 35%;
}

/* .down-arrow {
    position: absolute;
    z-index: 999;
    left: 49%;
    bottom: 7%;
    width: 100px;
    height: 100px;
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.371);
    backdrop-filter: blur(30px);
    border-radius: 80px;
    border: none;
    transition: 0.5s;
}

.down-arrow:hover {
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0);
    transform: scale(0.9);
}

.down-arrow i {
    cursor: pointer;
    font-size: 40px;
    display: flex;
    justify-content: center;
    line-height: 100px;
    vertical-align: middle;
    color: #FED51B;
} */

.down-wheel {
    position: absolute;
    z-index: 999;
    left: 49%;
    bottom: 7%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.mouse {
    width: 40px;
    height: 80px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: inline-flex;
}

.mouse-wheel {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    margin: auto;
    animation: moveWheel 1.25s linear infinite;
}

@keyframes moveWheel {
    0% {
        opacity: 0;
        translate: 0 25px;
    }

    100% {
        opacity: 1;
        translate: 0 -18px;
    }
}

/* ------------------ Section Two ------------------- */

#about-heading {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FED51B;
    margin-top: 100px;
}

.about-content h4 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    color: #101010;
    margin-bottom: 20px;
}

.about-content p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #101010;
    line-height: 26px;
}

#about-content-two {
    margin: 20px 0 30px 0;
}

.about-content .button {
    margin-bottom: 100px;
}

/* ------------------ Section Three ------------------- */

.sec-three {
    position: relative;
    min-height: 700px;
    background: linear-gradient(to right, #FED51B 60%, #fff 40%);
}

#product-detail-two {
    width: 460px;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
}

.home-product-details {
    position: absolute;
    top: 270px;
    overflow: hidden;
}

.home-product-details p {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.home-product-details h4 {
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
}

.home-product-img {
    position: absolute;
    overflow: hidden;
    top: 125px;
    left: 48%;
    width: 422px;
    height: 450px;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.366) 0px 7px 29px 0px;
}

.home-product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slide-btn #up-btn {
    position: absolute;
    /* left: 1452px; */
    /* left: 85%; */
    top: 38%;
    right: 21%;
    width: 60px;
    height: 60px;
    background-color: #101010;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
}

.slide-btn #down-btn {
    position: absolute;
    /* left: 1452px; */
    top: 50%;
    /* left: 85%; */
    right: 21%;
    width: 60px;
    height: 60px;
    background-color: #101010;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.6s;
}

.slide-btn i {
    font-size: 37px;
    transition: all 0.6s;
}

.slide-btn button:hover i {
    color: #101010;
}

.slide-btn #up-btn:hover {
    background-color: #FED51B;
}

.slide-btn #down-btn:hover {
    background-color: #FED51B;
}

.slider {
    width: 600px;
    height: 350px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
}

/*   

/* ------------------ section Four ------------- */


.sec-four {
    background-color: #fff;
    padding: 70px 0;
}

.title {
    font-size: 50px;
    color: #101010e5;
    font-family: 'Poppins';
    text-align: center;
    margin: 0 0 50px 0;
}

/* sldier for review */

.owl-carousel .owl-item img {
    display: block;
    width: 17%;
    float: left;
    border: 5px solid #fff;
    border-radius: 20px;
    margin-left: 54px;
    margin-right: 35px;
    margin-top: 15px;

}

.testimonial-item.equal-height.style-6 {
    border-radius: 15px 90px / 120px;
    margin: 70px 100px;
    font-family: 'Poppins';
    color: #f5d41d;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.cell-right {
    text-align: center;
    margin-right: 0 auto;
    padding-top: 35px;
    padding-bottom: 20px;
}

.testimonial-name {
    font-weight: 600;
    font-size: 35px;
}

.testimonial-job {
    font-size: 20px;
}

.testimonial-content.quote {
    padding: 17px 55px;
    font-size: 20px;
    text-align: center;
    color: #020202;

}

.et_right_sidebar #main-content .container:before {
    display: none;
}

#main-content .container {
    padding-top: 10px;
}

i.fa.fa-quote-left {
    padding: 0px 10px;
    color: #999;
}

/* ------------------ Section Five ------------------- */

/* .sec-five {
    min-height: 350px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(../img/yellow-blur.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tag-line {
    font-family: "Oswald";
    font-size: 32px;
}

.tag-line span {
    color: #000000;
    font-family: "Cedarville Cursive";
    font-size: 60px;
}

.btn {
    position: relative;
    width: 150px;
    top: 90px;
    left: 230px;
    cursor: pointer;
}

.btn .button{
border: none;
}

.btn .button a {
    color: #101010;
    transition: all 0.5s ease-in-out;
}

.btn .button:hover a {
    color: #fff;
}

.trust {
    margin: 30px 0 0 0;
    font-size: 60px;
    font-family: "Jost";
    text-align: center;
    color: #101010f2;
}

.trust span {
    color: #000000;
} */

.sec-five {
    width: 100%;
    height: 800px;
    background-color: #101010;
    display: flex;

}

.india-map{
    height: 800px;
    line-height: 800px;
    display: flex;
}

.india-map img {
    vertical-align: middle;
    margin-left: 200px;
    width: 80%;
    height: 90%;
    object-fit: contain;
}

.vertical-border {
    height: 700px;
    border-right: 1px solid #fff;
    margin: auto 0 auto 70px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 100px);
}


/* --------------- Footer Section --------------------- */

.footer {
    width: 100%;
    height: 526px;
    background-color: #101010;
    background-image: url(../img/footer-bg-1.png);
    background-size: cover;
}

.footer-content {
    height: 437px;
    align-items: center;
}

.footer-content p {
    color: #FFFFFF;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
}

.footer-content h4 {
    color: #FED51B;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.footer-logo {
    line-height: 437px;
}

.footer-logo img {
    vertical-align: middle;
    width: 292px;
}

.footer-location {
    width: 480px;
}

.footer-location p {
    line-height: 26px;
}

.corporate-address {
    display: flex;
    align-items: center;
}

#vertical-line-one {
    height: 80px;
    border: 1px solid #FFFFFF;
    margin: 20px 15px 20px 47px;
}

#address-one {
    margin: 20px 0;
}

#factory-address {
    display: flex;
    align-items: center;
}

#vertical-line-two {
    height: 80px;
    border: 1px solid #FFFFFF;
    margin: 20px 15px;
}

.footer-contact p {
    line-height: 26px;
}

.footer-contact a {
    transition: all 0.4s ease-in-out;
}

.footer-contact p:hover a {
    color: #FED51B;
}

#footer-num {
    margin-top: 20px;
    margin-right: 10px;
}

.footer-num {
    display: flex;
}

#footer-mail {
    margin-top: 20px;
}

#web-address {
    margin-bottom: 20px;
}

.footer-social {
    height: 126px;
    background-color: #060606;
    background-image: url(../img/footer-bg-1.png);
    background-size: cover;
}

.footersocial-content p {
    font-family: 'sora';
    font-style: normal;
    font-size: 16px;
    font-weight: 100;
}

.footersocial-content a {
    transition: all 0.4s;
}

.footersocial-content p:hover a {
    color: #FED51B;
}

.footersocial-content {
    display: flex;
    justify-content: space-between;
    line-height: 126px;
    vertical-align: middle;
}

.footersocial-content span {
    color: #d2d2d5;
}

.footersocial-content ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.footersocial-content ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footersocial-content ul li a {
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.177);
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    transition: .5s;
}

.footersocial-content ul li a:hover {
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0);
    text-decoration: none;
}

.footersocial-content ul li a .fab {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(90.37deg, rgba(239, 244, 253, 0.4) 0%, rgba(239, 244, 253, 0.2) 100%);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: .5s;
}

.footersocial-content ul li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.footersocial-content ul li:nth-child(2) a:hover .fab {
    color: #00aced;
}

.footersocial-content ul li:nth-child(3) a:hover .fab {
    color: #007bb6;
}

.footersocial-content ul li:nth-child(4) a:hover .fab {
    color: #e4405f;
}