@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
    display: inline-block;
}

body::-webkit-scrollbar {
    display: none;
}


a {
    text-decoration: none;
}

.container {
    width: 92%;
    margin: 0 auto;
}

.video {
    position: absolute;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-25 {
    width: 25%;
}

.jsc {
    justify-content: space-between;
}

/* ////////////////////// setion one //////////////// */

.sec-one {
    position: relative;
    height: 100vh;
    background-size: cover;
    overflow: hidden;

}

.nav-links {
    width: 50%;
}

.navbar {
    position: absolute;
    position: sticky;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
    top: 0;
}

/* Drop-down Menu */

.dropdown-container {
    display: flex;
    justify-content: center;
    /* position: relative; */
    /* min-height: 250px; */
}

.drop-down {
    position: absolute;
    z-index: 1;
    width: 900px;
    min-height: 250px;
    background-color: rgb(56, 50, 50);
    /* min-height: 500px; */
    margin-right: 80px;
}

.horizontal-line {
    height: 4px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #ff7425, #ff7425, #ff7425, rgba(255, 255, 255, 0));
}

.dropdown-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    line-height: 40px;
    color: #fff;
    font-family: "syne";

}

.dropdown-items a {
    color: #fff;
}

.borderline {
    width: 2px;
    height: 190px;
    background-color: #fff;
    border-radius: 5px;
}

.dropdown-items p:hover a {
    color: #ff7425;
    transition: all 0.4s ease-in-out;
}

.dropdown-container {
    /* visibility: hidden; */
    /* opacity: 0;  */
    /* display: none; */
}

#product:hover .dropdown-container {
    /* visibility: visible; */
    /* opacity: 1;  */
    /* display: block; */
}


/* navbar hover effact */

.navbar a:hover {
    color: rgb(255, 166, 0);
}

.navbar a {
    color: #fff;
    font-size: 20px;
    margin: 5px;
    font-family: "syne";
    transition: all .5s ease-in-out;
}

.logo img {
    vertical-align: middle;
    height: 40px;
    width: 200px;
}

.main-logo {
    position: relative;
    left: 4%;
    top: 23%;
}

.main-logo img {
    width: 45%;
    height: 45%;
}

.text {
    position: absolute;
    width: 50%;
    left: 45%;
    text-align: center;
}

.text p {
    margin: 15px 0;
    font-size: 45px;
    font-weight: 700;
    font-family: 'Syne';

}

.text h4 {
    font-size: 80px;
    color: #d8d8d8;
    font-family: 'Syne';

}

.text p {
    color: #fff455;
}

.text span {
    color: #f5d41d;
}

/* ---------------  section two --------------------- */

.carousel__item img {
    width: 300px;
    height: 200px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel {
    position: relative;
    overflow: hidden;
    top: 15%;
}

.carousel__slider {
    position: relative;
    display: flex;
    align-items: center;
    width: 170vw;
    height: 300px;
}

.carousel__list {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    margin: 0 20px 0 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    transition: all 1s;
}

.carousel__item:hover {
    transform: scale(1.15);
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.7);
}

/* *************** section three *******************  */
.sec-three {
    background-color: #131313;

}

.title {
    font-size: 50px;
    color: #cabc41;
    font-family: 'Syne';
    text-align: center;
    padding: 50px 0 0 0;
    margin: 0 0 50px 0;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 50px 0;
}

.image p {
    font-size: 30px;
    text-align: center;
    margin: 30px 0 0 0;
    color: rgb(220, 231, 66);
    font-family: 'Syne';
}

.image {
    margin: 50px 0;
}

.image img {
    display: block;
    margin: 0 auto;
    width: 110px;
    height: 110px;
}

/* *************** Section Four *******************  */

.sec-four {
    background-color: #131313;
    height: 80vh;
}


/* sldier for review */

.owl-carousel .owl-item img {
    display: block;
    width: 17%;
    float: left;
    border: 5px solid #fff;
    border-radius: 20px;
    margin-left: 54px;
    margin-right: 35px;
    margin-top: 15px;

}

.testimonial-item.equal-height.style-6 {
    border-radius: 10px;
    margin: 10px;
    font-family: 'Syne';
    color: #f5d41d;
}

.cell-right {
    text-align: center;
    margin-right: 0 auto;
    padding-top: 35px;
    padding-bottom: 20px;
}

.testimonial-name {
    font-weight: 600;
    font-size: 35px;
}

.testimonial-job {
    font-size: 20px;
}

.testimonial-content.quote {
    padding: 17px 55px;
    font-size: 20px;
    text-align: center;
    color: #d8d8d8;

}

.et_right_sidebar #main-content .container:before {
    display: none;
}

#main-content .container {
    padding-top: 10px;
}

i.fa.fa-quote-left {
    padding: 0px 10px;
    color: #999;
}

/* 
 */
/* ----------------------SECTION INFO------------------------- */
/* 
 */
.info {
    background-color: #131313;
}


.col-30 {
    width: 30%;
}

.col-20 {
    width: 20%;
}

.col-30 p {
    width: 400px;
    padding: 50px 0 20px 0;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}

.col-30 h5 {
    padding: 60px 0 0 0;
    font-size: 33px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
}

.col-20 h5 {
    padding: 60px 0 0 0;
    font-size: 33px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-family: "Oswald";
}

.contact-us ul {
    list-style: none;
}

.contact-us ul li a i {
    font-size: 35px;
    color: white;
    margin: 0 5px;
    border-radius: 40%;
    padding: 0 0 50px 0;
    transition: all 0.5s ease-in-out;
}

.col-20 ul {
    list-style: none;
    padding: 50px 0 20px 0;
}

.col-20 ul li {
    padding: 5px 0;
    display: block;
}

.col-20 ul li a {
    font-size: 15px;
    color: #ffffff;
    font-weight: 200;
    font-family: "Montserrat";
    text-decoration: none;
}


.info a i:hover {
    color: rgb(255, 166, 0);
}


/* testing code */

.abc {
    display: table-cell;
    width: 250px;
    height: 250px;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.abc .a {
    background-color: rgba(19, 30, 33, 0.4);
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.abc:hover .a {
    background-color: rgba(16, 23, 41, 0);
}

.abc .b {
    position: absolute;
    text-transform: uppercase;
    font-family: 'Roboto';
    padding: 7px;
    z-index: 1000;
    top: 60%;
    left: -80%;
    font-weight: 300;
    font-size: 13px;
    width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;

}

.abc:hover .b {
    background-color: #1e4944;
    left: 20px;

}

.abc .c {
    position: absolute;
    font-family: 'Roboto';
    padding: 5px;
    z-index: 1000;
    top: 60%;
    right: -85%;
    margin-top: 25px;
    color: #ffffff;
    font-weight: 300;
    font-size: 11px;
    width: 80%;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
}

.abc:hover .c {
    background-color: #417c74;
    right: 18px;
}


/*////////////////////////// grid //////////////////// */


.sec-two {
    background-color: #131313;
    padding: 50px 0;

}


.grid-container {
    width: 80vw;
    margin: 0 auto;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 100px);

}

.box {
    margin: 3px;
    text-align: center;

}

.b1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.b5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
}

.b7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 7;
}

.b2 {
    font-size: 50px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.b3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.b4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}

.b6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
}

.b8 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

.b9 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 5;
}

.b10 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 7;
}

.box img {
    height: 100%;
    width: 100%;
}