@font-face {
  font-family: "IBM Plex Sans Roman";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85648/IBMPlexSansVar-Roman.ttf");
}

body {
  font-family: "IBM Plex Sans Roman", Times;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background-color: #DCEDC8;
}

#main-text {
  font-size: 136px;
  text-align: center;
}

.char {
  font-size: 136px;
  text-align: center;
  cursor: default;
  font-weight: 50;
  transition: all 0.05s linear;
}