.download-brochure {
    position: absolute;
    top: 57%;
    right: 2%;
    z-index: 9;
    width: 247px;
    font-family: "Poppins";
    background: #E4ECFA;
  }
  
  .brochure_button.dark {
    --background: #242836;
    --rectangle: #1C212E;
    --arrow: #F5F9FF;
    --text: #F5F9FF;
    --success: #2F3545;
  }
  
  .brochure_button {
    --text: #fff;
    --arrow: #fff;
    --checkmark: #fff;
    --shadow: rgba(10, 22, 50, .24);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    text-decoration: none;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    mask-image: radial-gradient(white, black);
    background: var(--background);
    border-radius: 8px;
    box-shadow: 0 2px 8px -1px var(--shadow);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .brochure_button:active {
    transform: scale(0.95);
    box-shadow: 0 1px 4px -1px var(--shadow);
  }
  
  .brochure_button ul {
    margin: 0;
    padding: 16px 55px;
    letter-spacing: 1.5px;
    list-style: none;
    text-align: center;
    position: relative;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--text);
  }
  
  .brochure_button ul li:not(:first-child) {
    top: 16px;
    left: 0;
    right: 0;
    position: absolute;
  }
  
  .brochure_button ul li:nth-child(2) {
    top: 76px;
  }
  
  .brochure_button ul li:nth-child(3) {
    top: 136px;
  }
  
  .brochure_button>div {
    position: relative;
    width: 60px;
    height: 60px;
    background: var(--rectangle);
  }
  
  .brochure_button>div:before,
  .brochure_button>div:after {
    content: "";
    display: block;
    position: absolute;
  }
  
  .brochure_button>div:before {
    border-radius: 1px;
    width: 2px;
    top: 50%;
    left: 50%;
    height: 17px;
    margin: -9px 0 0 -1px;
    background: var(--arrow);
  }
  
  .brochure_button>div:after {
    width: 60px;
    height: 60px;
    transform-origin: 50% 0;
    border-radius: 0 0 80% 80%;
    background: var(--success);
    top: 0;
    left: 0;
    transform: scaleY(0);
  }
  
  .brochure_button>div svg {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 -10px;
    fill: none;
    z-index: 1;
    stroke-width: 2px;
    stroke: var(--arrow);
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .brochure_button.loading ul {
    -webkit-animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
    animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
  }
  
  .brochure_button.loading>div:before {
    -webkit-animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
    animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
  }
  
  .brochure_button.loading>div:after {
    -webkit-animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
    animation: background calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
  }
  
  .brochure_button.loading>div svg {
    -webkit-animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
    animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
  }
  
  @keyframes text {
  
    10%,
    85% {
        transform: translateY(-100%);
    }
  
    95%,
    100% {
        transform: translateY(-200%);
    }
  }
  
  @keyframes line {
  
    5%,
    10% {
        transform: translateY(-30px);
    }
  
    40% {
        transform: translateY(-20px);
    }
  
    65% {
        transform: translateY(0);
    }
  
    75%,
    100% {
        transform: translateY(30px);
    }
  }
  
  @keyframes svg {
  
    0%,
    20% {
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
    }
  
    21%,
    89% {
        stroke-dasharray: 26px;
        stroke-dashoffset: 26px;
        stroke-width: 3px;
        margin: -10px 0 0 -10px;
        stroke: var(--checkmark);
    }
  
    100% {
        stroke-dasharray: 26px;
        stroke-dashoffset: 0;
        margin: -10px 0 0 -10px;
        stroke: var(--checkmark);
    }
  
    12% {
        opacity: 1;
    }
  
    20%,
    89% {
        opacity: 0;
    }
  
    90%,
    100% {
        opacity: 1;
    }
  }
  
  @keyframes background {
    10% {
        transform: scaleY(0);
    }
  
    40% {
        transform: scaleY(0.15);
    }
  
    65% {
        transform: scaleY(0.5);
        border-radius: 0 0 50% 50%;
    }
  
    75% {
        border-radius: 0 0 50% 50%;
    }
  
    90%,
    100% {
        border-radius: 0;
    }
  
    75%,
    100% {
        transform: scaleY(1);
    }
  }