@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
    display: inline-block;
}

.sec-one {
    position: relative;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.container {
    width: 92%;
    margin: 0 auto;
}

.video {
    position: absolute;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.jsc {
    justify-content: space-between;
}

.nav-links {
    width: 50%;
}

.navbar {
    position: absolute;
    position: sticky;
    display: flex;
    justify-content: space-between;
    line-height: 80px;
}

.navbar a {
    color: #fff;
    font-size: 20px;
    margin: 5px;
    font-family: "syne";
}

.logo img {
    vertical-align: middle;
    height: 40px;
    width: 200px;
}

.main-logo{
    position: relative;
    left: 4%;
    top: 22%;
}

.main-logo img{
    width: 45%;
    height: 45%;
}
.gripking-text{
    position: absolute;
    top: 10%;
    left:45%;
    /* width: 45%; */
    /* height: 45%; */

}
