/* ------------- Navbar ------------------- */

@media only screen and (width >1500px) {

    .dropdown-container {
        left: 24%;
        top: 36px;
    }
}

@media only screen and (1200px< width <=1500px) {

    .dropdown-container {
        left: 19%;
        top: 36px;
    }
}

@media only screen and (992px<= width <=1200px) {

    .logo img {
        height: 35px;
        width: 175px;
    }

    .navbar {
        width: 80vw;
        padding: 0 30px;
        justify-content: space-between;
    }

    .nav-links ul li {
        margin: 0 10px;
    }

    .drop-down {
        width: 835px;
    }

    .dropdown-container {
        left: 9%;
        top: 36px;
    }
}

@media screen and (width < 992px) {

    .menu-icon:checked+label,
    .menu-icon:not(:checked)+label {
        right: 13px;
        top: 40px;
    }

    .nav {
        right: 0;
        top: 20px;
    }

    .nav ul li a {
        font-size: 5vh;
    }
}

@media only screen and (768px <= width < 992px) {
    .layer {
        display: none;
    }

    .sml_navbar {
        display: block;
    }

    .nav ul {
        top: 58%;
        left: 1%;
    }

    .menu-icon:checked~.nav {
        height: 200%;
    }

    .nav ul li a {
        font-size: 5vh;
    }
}

@media only screen and (576px <= width < 768px) {
    .layer {
        display: none;
    }

    .sml_navbar {
        display: block;
    }

    .nav ul {
        top: 58%;
        left: 1%;
    }

    .menu-icon:checked~.nav {
        height: 200%;
    }

    .nav ul li a {
        font-size: 5vh;
    }
}

@media only screen and (width < 576px) {
    .layer {
        display: none;
    }

    .sml_navbar {
        display: block;
    }

    .sml_medium_logo {
        display: block;
    }

    .sml_logo {
        display: none;
    }

    .menu-icon:checked~.nav {
        height: 200%;
    }

    .nav ul li a {
        font-size: 5vh;
    }
}

/* ------------- Sec-one Start ------------------- */

@media only screen and (992px<=width <=1200px) {

    .contact-path h4 {
        font-size: 50px;
    }

    .contact-path p {
        font-size: 20px;
    }

}

@media only screen and (768px <=width < 992px) {

    .contact-banner {
        height: 370px;
    }

    .contact-path h4 {
        font-size: 45px;
        line-height: normal;
    }

    .contact-path p {
        font-size: 18px;
    }
}

@media only screen and (576px <=width < 768px) {

    .contact-banner {
        height: 320px;
    }

    .contact-path h4 {
        font-size: 35px;
        line-height: normal;
    }

    .contact-path p {
        font-size: 13px;
    }
}

@media only screen and (width < 576px) {

    .contact-banner {
        height: 320px;
    }

    .contact-path h4 {
        font-size: 35px;
        line-height: normal;
    }

    .contact-path p {
        font-size: 13px;
    }
}