/* ------------- Sec-one Start ------------------- */

@media only screen and (992px<= width <=1200px) {

    .container {
        width: 880px;
    }

    .contact-path h4 {
        font-size: 50px;
    }

    .contact-path p {
        font-size: 20px;
    }

}

@media only screen and (768px <= width < 992px) {

    .container {
        width: 680px;
    }

    .contact-banner {
        height: 370px;
    }

    .contact-path h4 {
        font-size: 45px;
        line-height: normal;
    }

    .contact-path p {
        font-size: 18px;
    }
}

@media only screen and (576px <= width < 768px) {

    .container {
        width: 500px;
    }

    .contact-banner {
        height: 320px;
    }

    .contact-path h4 {
        font-size: 35px;
        line-height: normal;
    }

    .contact-path p {
        font-size: 13px;
    }
}

@media only screen and (width < 576px) {

    .contact-banner {
        height: 320px;
    }

    .contact-path h4 {
        font-size: 35px;
        line-height: normal;
    }

    .contact-path p {
        font-size: 13px;
    }

    .whatsapp-icon {
        font-size: 60px;
    }
}

/* --------------- Section One End ---------------- */

/* --------------- Section Two Start ---------------- */

@media only screen and (1200px< width <=1500px) {

    .contact-details {
        margin-left: 170px;
    }

}

@media only screen and (992px<= width <=1200px) {

    .contact-details {
        margin-left: 100px;
    }

    .contact-map .col-45 {
        margin-bottom: 55px;
    }

    .contact-form .col-45 {
        background-position: -100px;
    }
}

@media only screen and (768px <= width < 992px) {

    .sec-two {
        margin: 80px 0;
    }

    .contact-details {
        width: 585px;
        margin: 0 auto;
        text-align: center;
    }

    .contact-map {
        display: block;
        margin-bottom: 70px;
    }

    .contact-map .col-45 {
        width: 100vw;
        margin-bottom: 70px;
    }

    .address-one p {
        margin: 10px 0;
    }

    .address-two p {
        margin: 10px 0;
    }

    .contact-map .col-55 {
        width: 100vw;
        height: 43vh;
    }

    .contact-form {
        display: block;
    }

    .contact-form .col-45 {
        display: none;
    }

    .contact-form .col-55 {
        width: 585px;
        margin: 0 auto;
    }

    .form-details {
        margin: 0;
    }

    .form-content {
        width: 100%;
        margin: 40px 0 0 0;
    }
}

@media only screen and (576px <= width < 768px) {

    .sec-two {
        margin: 80px 0;
    }

    .contact-details {
        width: 480px;
        margin: 0 auto;
        text-align: center;
    }

    .contact-map {
        display: block;
        margin-bottom: 70px;
    }

    .contact-map .col-45 {
        width: 100vw;
        margin-bottom: 70px;
    }

    .address-one p {
        margin: 10px 0;
    }

    .address-two p {
        margin: 10px 0;
    }

    .contact-map .col-55 {
        width: 100vw;
        height: 43vh;
    }

    .contact-form {
        display: block;
    }

    .contact-form .col-45 {
        display: none;
    }

    .contact-form .col-55 {
        width: 480px;
        margin: 0 auto;
    }

    .form-details {
        margin: 0;
    }

    .form-content {
        width: 100%;
        margin: 40px 0 0 0;
    }
}

@media only screen and (width <576px) {

    .sec-two {
        margin: 70px 0;
    }

    .contact-details {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }

    .contact-map {
        display: block;
        margin-bottom: 70px;
    }

    .contact-map .col-45 {
        width: 100vw;
        margin-bottom: 70px;
    }

    .address-one p {
        margin: 10px 0;
    }

    .address-two p {
        margin: 10px 0;
    }

    .contact-map .col-55 {
        width: 100vw;
        height: 43vh;
    }

    .contact-form {
        display: block;
    }

    .contact-form .col-45 {
        display: none;
    }

    .contact-form .col-55 {
        width: 300px;
        margin: 0 auto;
    }

    .form-details {
        margin: 0;
    }

    .form-content {
        width: 100%;
        margin: 40px 0 0 0;
    }

    .name-mail {
        display: block;
    }

    .name-mail input {
        width: 100%;
    }

    #email {
        margin-top: 30px;
    }
}

/* --------------- Section Two End ---------------- */